body {
    background-image: url('static/foo.png');
    background-image: url(static/foo.png);
    background-image: url("static/foo.png");
    background-image: url('../static/foo.png');
    background-image: url(../static/foo.png);
    background-image: url("../static/foo.png");
}
